* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}
/******************************************* header  ***************************************/
/* .header {
  background-color: black;
  position: relative;
  border: solid 1px black;
  height: 100vh;
  background:url('./assets/homebg.gif') no-repeat center center/cover;
  opacity: 1;
} */

/************** navbar  **********/
.navbar {
  /* background-color: black; */
  /* opacity: 0.75; */
  z-index: 10;
  /* border: solid 2px black; */
  position: relative;
  height: 10vh;
  display: flex;
  /* background-color: #08192b; */
  background-color: #131212;
}
.navigation {
  position: absolute;
  right: 0;
  display: flex;
  font-family: "Bree Serif", serif;
}
.logo {
  /* border: solid 1px white; */
  display: flex;
}
.logoimg {
  height: 100%;
  /* border: solid 1px white; */
}
.logonamenavbar {
  height: 80%;
  border: solid 1px white;
  color: white;
  font-size: 20px;
  margin-top: 1%;
  margin-left: 10px;
  display: flex;
  align-items: center;
  padding: 0% 1%;
}
.navigation li,
.logo li {
  list-style: none;
  margin: 16px 23px;
  z-index: 1;
}
.navigation li a,
.logo li a {
  text-decoration: none;
  font-size: 20px;
  color: white;
  padding: 7px;
}
.navigation li a:hover {
  color: black;
  background-color: white;
  border-radius: 10px;
}

/************* home ***********/

.home {
  background: url("./assets/bg4.jpg") no-repeat center/cover;
  background-color: black;
  z-index: 1;
  /* border: solid 2px black; */
  position: relative;
  /* opacity: 0.4; */
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-content {
  /* border: solid 1px white; */
  height: 80%;
  width: 60%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.home p {
  /* border: solid 1px white; */
  color: white;
  margin: 2% 5%;
  text-align: center;
  font-size: 1.5rem;
}
.h-primary {
  /* border: solid 1px white; */
  /* font-family: "Bree Serif", serif; */
  font-size: 3.8rem;
  text-align: center;
  margin-top: 10%;
  color: white;
}

.doodle {
  position: relative;
  background-color: #f8f6f5;
  /* border: solid 1px black; */
  height: 20vh;
  display: flex;
  margin-top: 1%;
}
/******************************************* section  ***************************************/

.section-whyblackhush,
.section-Blacktee {
  /* border: solid 1px white; */
  position: relative;
  background-color: black;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-ourproduct {
  /* border: solid 1px white; */
  position: relative;
  background-color: black;
  height: 120vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.heading-2 {
  /* border: solid 1px white; */
  margin: 3%;
  font-size: 200%;
}
.heading-3 {
  border: solid 1px white;
  margin: 0%;
  font-size: 400%;
  padding: 2%;
}
.section-ourproduct .contentimgdiv {
  /* border: solid 1px white; */
  display: flex;
  /* justify-content: center; */
  position: relative;
  background-color: black;
  color: white;
  width: 40%;
  height: 100%;
  margin: 0% auto;
  top: 0%;
}

.headingdiv {
  /* border: solid 1px white; */
  position: relative;
  margin-left: 2%;
  background-color: black;
  color: white;
  height: 15%;
  width: 90%;
  /* margin-top: -5%; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
}
.heading {
  /* border: solid 1px white; */
  position: relative;
  color: white;
  height: 70%;
  /* margin-top: -5%; */
  margin-top: 2%;
}
.contentdiv {
  /* border: solid 1px white; */
  position: relative;
  background-color: black;
  color: white;
  height: 80%;
  margin-top: 2%;
  display: flex;
}
.content {
  /* border: solid 1px white; */
  position: relative;
  background-color: black;
  color: white;
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.content p {
  /* border: solid 1px white; */
  position: relative;
  background-color: black;
  color: white;
  width: 80%;
  height: 40%;
  font-size: larger;
  text-align: justify;
  line-height: 160%;
}
.contentbtn {
  border: solid 1px white;
  /* border-radius: 10%; */
  position: relative;
  background-color: #ffffff21;
  color: white;
  width: 40%;
  height: 15%;
  font-size: 250%;
  text-align: center;
  line-height: 160%;
  cursor: pointer;
}
.contentimgdiv {
  /* border: solid 1px white; */
  display: flex;
  justify-content: center;
  position: relative;
  background-color: black;
  color: white;
  width: 40%;
}
.contentimg {
  /* border: solid 1px white; */
  position: relative;
  background-color: black;
  color: white;
  width: 90%;
  height: 95%;
}

.sectionimagediv {
  /* border: solid 1px black; */
  width: 45%;
  height: 90%;
  margin: 2% 1%;
}
.sectionimage {
  height: 100%;
  width: 100%;
}
.sectioncontentdiv {
  /* border: solid 1px black; */
  width: 55%;
  height: 90%;
  margin: 2% 1%;
}
.sectionheading {
  position: relative;
  width: 50%;
  left: 30%;
  /* margin: auto; */
  /* border: solid 1px black; */
  /* text-align: center; */
  margin-top: 20%;
  font-size: 2rem;
}
.sectionpara {
  position: relative;
  width: 50%;
  left: 30%;
  /* border: solid 1px black; */
  font-size: 1rem;
  /* margin: auto; */
  margin-top: 2%;
}

/******************************************* footer  ***************************************/

/************* footer-upper ***********/
.footer-upper {
  position: relative;
  /* background-color: #f5f0e887; */
  /* border: solid 1px black; */
  height: 45vh;
  display: flex;
  justify-content: space-around;
  background-color: #131212;
}

.footer-upper .box {
  /* border: solid 1px black;/ */
  width: 20%;
  display: flex;
  flex-direction: column;

  margin: 30px 30px;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #f5f0e8;
  border-radius: 26px;
  color: black;
}

.footer-upper .box p {
  text-align: center;
  margin: 10px;
}
.image-services {
  width: 40%;
  height: 35%;
  margin: 25px;
}

/************* main footer  ***********/
.footer {
  position: relative;
  /* background-color: #08192b; */
  background-color: black;
  /* border: solid 1px black; */
  height: 47vh;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.footer .footerbox {
  /* border: solid 1px black; */
  width: 23%;
  display: flex;
  flex-direction: column;

  margin: 1% 1%;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  background-color: #00000000;
  border-radius: 26px;
  color: white;
}
.footer .footerbox p {
  text-align: center;
  margin: 10px;
}
.footer .footerbox-main {
  /* border: solid 1px black; */
  width: 20%;
  display: flex;
  flex-direction: column;
  margin: 6% 2%;
  justify-content: space-around;
  align-items: center;
  padding: 10px 20px;
  /* background-color: #f5f0e8; */
  border-radius: 26px;
  color: black;
}

.socialmedialogo {
  /* border: solid 1px black; */
  height: 40%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #00000000;
}
.footercontent {
  /* border: solid 1px black; */
  height: 20%;
  width: 100%;
  background-color: #00000000;
}

.image-services-medialogo {
  width: 20%;
  height: 100%;
  margin: 0px 4%;
}
.image-services-logo {
  width: 5%;
  height: 80%;
  margin: 1% 0%;
  margin-left: 2%;
}

.fotter-lineheading {
  text-align: center;
  padding: 2% 1%;
  margin: 2% 1%;
  color: white;
  font-size: small;
}

.image-services-footer {
  width: 50%;
  height: 65%;
  margin: 25px;
}

.footer .footerlist {
  margin: 10% 0%;
  color: #cfd9e0;
}
.footer .footerlist li {
  margin: 5% 0%;
  color: #cfd9e0;
  list-style: none;
}
.footerlogo {
  position: relative;
  /* background-color: #08192b; */
  background-color: #131212;
  color: white;
  /* border: solid 1px black; */
  height: 13vh;
  display: flex;
}
.footerlogoname {
  height: 100%;
  padding: 1%;
}
.footerlogoname h1 {
  height: 100%;
  font-size: larger;
  text-align: center;
  margin-top: 10%;
  padding: 5%;
}

.footer-subscribe {
  position: relative;
  /* border: solid 1px red; */
  background-color: #08192b;
  width: 30%;
  height: 80%;
  padding: 1%;
  left: 50%;
}
.footer-subscribe input {
  margin-top: 2%;
  margin-left: 2%;
  height: 40%;
  width: 70%;
}
.footer-subscribe button {
  margin-top: 2%;
  height: 50%;
  width: 20%;
  background-color: #2e68a5;
  color: white;
}

/************* lower footer  ***********/
.footer-lower {
  height: 7vh;
  /* background-color: #0e2a47; */
  background-color: #131212;
  color: #869fb2;
  padding: 1%;
}
.footer-lower h1 {
  font-size: 100%;
}
